* {
  padding: 0;
  margin: 0;
  font-family: "roboto", "open sans";
  margin-left: -10px ri;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  color: white;
  line-height: 35px;
}

a:hover {
  color: white;
  text-decoration: none;
}
.container h2 {
  font-weight: bold;
  font-size: 40px;
}

#section1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(106, 87, 189), rgb(79, 71, 187));
}

#logo {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-right: 500px;
}

@media (max-width: 576px) {
  #logo {
    margin-right: 0;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-right: 68px;
    font-size: 40px;
  }
}

#part1 {
  width: 50%;
  height: 500px;
  color: white;
  margin-top: 150px;
}

#banner-1 div h2 {
  font-size: 50px;
}

#banner-1 div p {
  line-height: 30px;
  margin-top: 20px;
}

#btn {
  border-radius: none;
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 50px;
  color: white;
  border: 1px solid white;
}

#modal-body-para {
  line-height: 30px;
  margin-top: 20px;
  color: rgb(29, 28, 28);
}

#banner-1 {
  text-align: left;
  float: right;
}

.lettering {
  float: left;
  width: 50%;
}

.pic {
  float: right;
  width: 50%;
}

.name {
  float: left;
}

@media (max-width: 800px) {
  .lettering {
    width: 40%;
  }

  .pic {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .lettering {
    width: 100%;
    margin-left: 50px;
  }

  .pic {
    width: 100%;
  }
}
#about-us {
  /* width: calc(100% / 3); */
  /* height: 200px; */
}

#about-us h2 {
  font-weight: bold;
}

#about-us h3 {
  font-weight: bold;
}

#about-us p {
  line-height: 33px;
  color: rgb(105, 105, 105);
}

#section2 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#section3 {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  overflow: hidden;
}

#our-work {
  margin-top: 40px;
  /* width: calc(100% / 4); */
  height: auto;
  background-color: white;
  box-shadow: 2px 7px 11px rgba(129, 127, 127, 0.39);
}

.icon {
  width: 80px;
  height: 80px;
  background-color: #fafafa;
  margin-left: 10%;
  margin-top: 20px;
}

.icon span {
  font-size: 35px;
  margin-left: 20px;
  padding-top: 20px;
}

#our-work h4 {
  margin-top: 20px;
  margin-left: 10%;
}

#our-work p {
  margin-left: 10%;
  line-height: 35px;
  color: rgb(105, 105, 105);
  padding-top: 20px;
}

.container h2 {
  font-size: 40px;
  margin-top: 40px;
  font-weight: bold;
}
#marketing-process {
  margin-top: 40px;
  /* width: calc(100% / 4); */
  height: auto;
}
#marketing-process h3 {
  margin-left: 30px;
}

#marketing-process p {
  line-height: 33px;
  margin-left: 30px;
}

#section4 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#section5 {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  overflow: hidden;
}

#digital-market_ {
  width: 50%;
  height: auto;
  margin-top: 100px;
}

#digital-market_ h2 {
  font-weight: bold;
}

#digital-market_ p {
  line-height: 35px;
  margin-top: 30px;
  font-size: 18px;
}
#section6 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#section7 {
  width: 100%;
  height: 250px;
  background-color: #b90e9d;
  overflow: hidden;
  color: white;
}

#partners1 {
  font-size: 50px;
  margin-top: 2%;
}
#section8 {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  overflow: hidden;
}

img {
  margin-left: -33px;
}

.team1 {
  background: url("../images/team1.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: one;
  background-repeat: none;
}

.team2 {
  background: url("../images/team2.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: two;
  background-repeat: none;
}

.team3 {
  background: url("../images/team3.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: three;
  background-repeat: none;
}

.team4 {
  background: url("../images/team4.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: four;
  background-repeat: none;
}

.team5 {
  background: url("../images/team5.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: five;
  background-repeat: none;
}

.team6 {
  background: url("../images/team6.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: six;
  background-repeat: none;
}

.team7 {
  background: url("../images/team7.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: seven;
  background-repeat: none;
}

.team8 {
  background: url("../images/team2.jpg");
  background-position: center bottom;
  background-size: cover;
  grid-area: eight;
  background-repeat: none;
}

#team {
  display: grid;
  min-height: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one two three four"
    "five six seven eight";
  grid-gap: 30px;
  margin-top: 40px;
}
#section9 {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
#contact-us {
  width: 100%;
  height: 300px;
  padding-left: 200px;
}

input {
  display: block;
  width: 70%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding-top: 30px;
}
#msg {
  width: 70%;
  height: 120px;
  border: 1px solid black;
  margin-top: 50px;
}

#msg input {
  border: none;
  padding-top: 10px;
}

input[type="button"] {
  border: none;
  padding-top: 0;
  height: 50px;
  width: 70%;
  background-color: rgb(58, 108, 246);
  margin-top: 30px;
  color: white;
}
